@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');


* {
    font-family: 'Jura';
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.mybtns {
    padding: 20px;
}

.mybtns button{
    font-weight: bold;
    padding: 5px;
}

input {
    margin: 5px;
    padding: 5px;
    font-weight: bold;

}

.displaybox {
    height: 100px;
    width: 150px;
    background-color: rgb(48, 46, 46);
    margin: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.displaybox h3 {
    color: white;
    font-size: 2rem;
}